body{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

.container{
    border: 1px solid #000;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.screen{
    height: 80px;
    width: 96.5%;
    margin: 10px 5px 10px 5px;
    text-align: right;
    font-size: 4rem;
    padding: 10px;
    box-sizing: border-box;
    background-color: #252525;
    color: #fff;
    overflow: hidden;
    border: none;
    user-select: text;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.keys{
    display: grid;
    grid-template: repeat(5, 60px)/ repeat(4, 1fr);
    gap: 1px;
    justify-content: center;
    margin: 0 6px 5px;
    margin-bottom: 5px;
}

.operator{
    background-color: yellow;
}

.copyright{
    text-align: right;
    font-size: 1.5rem;
    margin-right: 5px;
    margin-bottom: 2px;
    font-family: cursive;
}

.keys > div{
    border: 1px solid rgb(236, 230, 230);
    text-align: center;
    display: grid;
    align-content: center;
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
    position: relative;
    user-select: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.keys > div:hover{
    background-color: darkgrey;
}

.keys > div:active{
    top: 3px;
}

.equal{
    background-color: rgb(245, 63, 63);
    grid-row: 4 / span 2;
    grid-column: 4 / 5; 
}
